.banner-fourth{
  padding: 0;
  .bg-img{
    min-height: 350px;
    max-height: 550px;
    height: 100%;
    @include tablet-up {
      min-height: 550px;
      max-height: 800px;
    }
    img{
      width: 100%;
      object-fit: cover;
      min-height: 350px;
      height: 100%;
      @include tablet-up {
        min-height: 550px;
      }
    }
  }
  .inner-img{
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    img{
      min-height: 100%;
      width: 100%;
    }
  }
  &.dps {
    .bg-img{
      min-height: 350px;
      max-height: 450px;
      height: 100%;
      //@include tablet-up {
      //  min-height: 550px;
      //  max-height: 800px;
      //}
      img{
        width: 100%;
        object-fit: cover;
        min-height: 350px;
        height: 100%;
        @include tablet-up {
          min-height: 550px;
        }
      }
    }
    .inner-img{
      max-width: 400px;
      //margin: 0 auto;
      //width: 100%;
      //text-align: center;
      //img{
      //  min-height: 100%;
      //  width: 100%;
      //}
    }
    h1 {
      @include tablet-up {
        //font-size: 78px;
      }
    }
  }
  &.reduce-height {
    .bg-img{
      min-height: 250px;
      max-height: 350px;
      img{
        min-height: 250px;
        @include tablet-up {
          min-height: 350px;
        }
      }
    }

  }
}