.customer-quotes{
  z-index: 2;
  @include desktop-up{
    padding-bottom: 134px;
    padding-top: 118px;
  }
  .col-wrap{
    float: left;
    width: 100%;
    position: relative;
    padding-top: 44px;
    margin-bottom: 72px;
    @include tablet-down{
      padding-top: 25px;
      margin-bottom: 35px;
    }
    .small-block{
      width: calc(40% - 15px);
      float: left;
      display: table;
      @include tablet{
        width: calc(45% - 10px);
      }
      @include tablet-down{
        width: 100%;
        display: block;
        float: none;
      }
      .img-box{
        height: 175px;
        vertical-align: middle;
        text-align: center;
        display: table-cell;
        @include tablet-down{
          height: 100%;
          display: block;
        }
        @include phablet-down{
          max-width: 270px;
          margin: 0 auto;
        }
      }
      &.reverse{
        float: right;
        @include tablet-down{
          float: none;
        }
      }
    }
    .big-block{
      width: calc(55% - 15px);
      float: left;
      margin-left: 78px;
      @include desktop-mid{
        margin-left: 30px;
      }
      @include tablet{
        width: calc(50% - 10px);
        margin-left: 40px;
      }
      @include tablet-down{
        width: 100%;
        float: none;
        text-align: center;
        margin-left: 0;
      }
      h2{
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 22px;
        @include desktop-up{
          font-size: 45px;
        }
        @include tablet-down{
          margin: 10px 0 3px;
        }
      }
      p{
        font-size: 20px;
        font-weight: 600;
        color: $black;
        line-height: 1.5;
        letter-spacing: 0.6px;
        max-width: 531px;
        @include tablet-down{
          max-width: 100%;
          font-size: 16px;
          font-weight: 500;
        }
        @include phone-down{
          font-size: 14px;
          font-weight: 400;
        }
      }
      .text{
        max-width: 100%;
      }
      &.text-blue{
        h2{
          color: $primary3;
        }
      }
      &.text-cyan{
        h2{
          color: $green;
        }
      }
    }
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      opacity: 0.5;
      background: $lightbrown-gray;
      top: 0;
      left: 0;
    }
    &:nth-child(2){
      .big-block{
        h2{
          margin-top: 20px;
        }
      }
    }
  }
}