// Global
@import "../../../styles/global";

body .refresh19 {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: #ffffff !important;
  overflow: hidden;
  @import "../../../styles/common/default";
  @import "../../../styles/common/button";
  @import '../../../styles/global/header';
  @import "../../../styles/global/footer";
  @import "../../../styles/section/overlay-search";
  @import "../../../styles/section/hero-banner-transparent-image";
  @import "../../../styles/section/banner-second";
  @import "../../../styles/section/scroll-nav";
  @import "../../../styles/section/promotional-cta";
  @import "../../../styles/section/rich-text-editor";
  @import "../../../styles/section/image-col-grid";
  @import "../../../styles/section/video-overlay";
  //@import "../../../styles/section/interactive-logo-slider";
  //@import "../../../styles/section/tab-slider";
  //@import "../../../styles/section/footer-cta";
}